.patient_portal {
    width: 100%;
    background-color: #edf3fb;
    font-size: 100%;
}

.patient_portal.pactive {
    width: calc(100% - 80px);
}

/*==========================================================
    ---------------    Sidebar Styling   ---------------
==========================================================*/

.portal_navigation {
    position: fixed;
    height: 100vh;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    border-left: 10px solid #276ab3;
    background-color: #276ab3;
    transition: 0.5s;
    overflow: hidden;
}

.portal_logo {
    position: relative;
    width: 150px;
    height: 100px;
    overflow: hidden;
}

.portal_logo img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.5s;
}

.portal_navigation .toggle button {
    position: relative;
    top: .5rem;
    left: .5rem;
    width: 32px;
    height: 32px;
    z-index: 100;
    border-radius: 50%;
    background: #276ab3;
    box-shadow: 0 0 4px rgb(255, 255, 255), 0 0 7px rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: none;
    letter-spacing: inherit;
    color: inherit;
    font-size: inherit;
    text-align: inherit;
    padding: 0;
    font-family: inherit;
    outline: none;
    transition: all 0.5s;
}

.portal_navigation ul {
    display: block;
}

.portal_navigation ul li {
    height: 76px;
}

.portal_navigation ul li .active_link {
    background-color: #f5f5f5;
    height: 76px;
    position: relative;
    width: 100%;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}

.portal_navigation ul li a {
    position: relative;
    text-decoration: none;
    width: 100%;
    margin: 0;
    padding: 0;
    height: 76px;
    display: flex;
    align-items: center;
    color: #f5f5f5;
    font-size: inherit;
    opacity: 0.6;
    font-weight: 100;
}

.portal_navigation ul li a.active_link {
    position: relative;
    text-decoration: none;
    width: 100%;
    display: flex;
    padding-left: .5rem;
    align-items: center;
    font-weight: 600;
    transition: all 0.5s;
    color: #276ab3;
    opacity: 1;
    transition: 0.5s;
}

.portal_navigation ul li a:hover{
    animation: underline 1.8s ease-out;
    transition: all 0.5s ease;
    color: #f5f5f5;
}

.portal_navigation ul li a.active_link:hover{
    animation: none;
    transition: none;
    color: #276ab3;
}

@keyframes underline {
    0%{
        transform: translateY(5%);
    }
    10%{
        transform: translateY(10%);
    }
    20%{
        transform: translateY(-15%);
    }
}

.portal_navigation ul li a .icon {
    position: relative;
    display: block;
    padding-left: 1rem;
}

.portal_navigation ul li a span {
    position: relative;
    display: block;
    padding: 0 10px;
    font-size: 1.2rem;
    line-height: 60px;
    text-align: start;
    white-space: nowrap;
}

.portal_footer {
    padding: 1.5rem 0.75rem;
    display: flex;
    border-top-width: 1px;
    align-items: center;
}

.portal_footer img {
    object-fit: cover;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 0.375rem;
    transition: all 0.5s;
}

.portal_footer .user {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 1.2rem;
    width: 12rem;
}

.portal_footer .detail {
    line-height: 1rem;
    color: #f5f5f5;
}

.portal_footer .detail h4,
.patient_topbar .user_details h4,
.patient_modals h4,
.patient_modals-details span:nth-of-type(2) {
    font-weight: 600;
}

.portal_footer .detail  span {
    font-size: .75rem;
}

/*==========================================================
    ---------------    Main Page Styling   ---------------
==========================================================*/

.patient_main {
    position: absolute;
    width: calc(100% - 300px);
    left: 300px;
    min-height: 100vh;
    transition: 0.5s;
    overflow: hidden;
    background-color: #f5f5f5;
}

.patient_main.pactive {
    width: calc(100% - 80px);
    left: 80px;
}

.patient_main-title {
    font-weight: 600;
    letter-spacing: 1px;
    font-size: 1.2rem;
    margin-bottom: 2rem;
}

/*==========================================================
    ---------------    Topbar Styling   ---------------
==========================================================*/

.patient_topbar {
    position: fixed;
    width: calc(100% - 300px);
    left: 300px;
    top: 0;
    z-index: 1000;
    height: 50px;
    background: #f5f5f5;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    transition: 0.5s;
}

.patient_portal.pactive .patient_topbar {
    width: calc(100% - 80px);
    left: 80px;
}

.patient_topbar .search {
    position: relative;
    width: 400px;
    margin: 0 10px;
}

.patient_topbar .search label {
    position: relative;
    display: flex;
    width: 100%;
}

.patient_topbar .search label input {
    width: 100%;
    height: 40px;
    border-radius: 40px;
    padding: 5px 20px;
    padding-left: 40px;
    outline: none;
    background: #f5f5f5;
    border: .1px solid #ddd7d7;
    color: #222;
    font-size: .8rem;
}

.patient_topbar .search label input:focus {
    box-shadow: 0 0 10px rgba(39, 106, 179, 0.40);
    background: #fff;
}

.patient_topbar .search label input::placeholder {
    font-size: .9rem;
    color: #bbb3b3;
}

.patient_topbar .search label svg {
    position: absolute;
    bottom: 0.60rem;
    left: 10px;
    cursor: default;
}

.patient_topbar .user_details {
    grid-gap: 1rem;
    gap: 1rem;
    align-items: center;
    display: flex;
}

.patient_topbar .dropdown_button-container {
    position: relative;
}
  
.patient_topbar .dropdown_button {
    width: 100%;
    height: 40px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s ease;
}

.patient_topbar .notification_circle {
    position: absolute;
    top: 5px;
    right: 1px;
    background-color: orange;
    color: white;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.patient_topbar .dropdown_button:hover svg {
    color: #276ab3;
}
  
.patient_topbar .dropdown {
    position: absolute;
    top: calc(100% + -5px);
    right: 0;
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    min-width: 150px;
    display: none;
}

.patient_topbar .dropdown.show {
    display: block;
}
  
.patient_topbar .dropdown-item {
    display: flex;
    align-items: center;
    padding: 10px;
    cursor: pointer;
    color: #276ab3;
    transition: background-color 0.3s ease;
}

.patient_topbar .dropdown-item svg {
    margin-right: 1rem;
}

.patient_topbar .dropdown-item a {
    color: #222;
}
  
.patient_topbar .dropdown-item:hover {
    background-color: #276ab3;
    color: #f5f5f5;
}

.patient_topbar .dropdown-item:hover a {
    color: #f5f5f5;
}

.patient_topbar .user_details .img_box,
.patient_modals .img_box,
.overview_right-img,
.prescribe_img {
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    pointer-events: none;
}

.patient_topbar .user_details img,
.patient_modals img,
.overview_right-img img,
.prescribe_img img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/*==========================================================
    ---------------    Main Content Styling   ---------------
==========================================================*/

.patient_content {
    position: relative;
    top: 0;
    width: 100%;
    padding: 5rem 2rem 1rem;
}

/*==========================================================
    ---------------    Overview Styling   ---------------
==========================================================*/

.patient_overview {
    animation: slideInDown 1s ease-in-out;
}

.patient_content .greet {
    text-align: left;
    margin-bottom: 2rem;
}

.patient_content .greet p {
    font-weight: 600;
    color: #222;
    font-size: 1.5rem;
    margin-bottom: .5rem;
}

.overview_sides {
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr; 
    grid-gap: 30px;
    margin-top: 2rem;
}

.overview_left {
    position: relative;
    display: grid;
    min-height: 500px;
    background: #fff;
    box-shadow: 0 7px 25px rgba(0,0,0,0.08);
    border-radius: 20px;
}

.overview_banner {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 15rem;
    padding: 0 3rem;
    border-radius: 20px;
    margin-bottom: 3rem;
    letter-spacing: 1px;
    background: #276ab3;
    color: #f5f5f5;
}

.banner_text h4 {
    font-size: 2rem;
    font-weight: 500;
}

.banner_text p {
    color: #f5f5f5;
    font-weight: 100;
}

.banner_image img {
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.5s;
}

.overview_vitals {
    position: relative;
    width: 100%;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    grid-gap: 20px;
}

.vitals_card {
    position: relative;
    background: #fff;
    padding: 25px;
    border-radius: 20px;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    box-shadow: 0 7px 25px rgba(0,0,0,0.08);
}

.vitals_card:hover {
    background: #276ab3;
    transition: all 0.5s;
}

.vitals_card div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.vitals_name {
    position: relative;
    font-weight: 500;
    font-size: 1.5rem;
}

.vitals_number {
    color: #222;
    font-size: 1rem;
    margin-top: 5px;
}

.vitals_icon {
    font-size: 1.5rem;
    color: #276ab3;
}

.vitals_card:hover .vitals_name,
.vitals_card:hover .vitals_number,
.vitals_card:hover .vitals_icon {
    color: #f5f5f5;
} 

.overview_right {
    position: relative;
    display: grid;
    min-height: 500px;
    padding: 20px;
    background: #fff;
    box-shadow: 0 7px 25px rgba(0,0,0,0.08);
    border-radius: 20px;
}

.overview_appoint-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.overview_appoint-header h2 {
    font-weight: 600;
    color: #276ab3;
}

.overview_appoint-header a {
    position: relative;
    padding: 5px 10px;
    background: #276ab3;
    color: #f5f5f5;
    border-radius: 6px;
}

.overview_appoint table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

.overview_appoint table thead td {
    font-weight: 600;
}

.overview_appoint table tr {
    color: #222;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.overview_appoint table tr:last-child {
    border-bottom: none;
}

.overview_appoint table tbody tr:hover {
    background: #276ab3;
    color: #f5f5f5;
}

.overview_appoint table tr td {
    padding: 10px;
}

.overview_appoint table tr td:last-child {
    text-align: end;
}

.overview_appoint table tr td:nth-child(3) {
    text-align: start;
}

.overview_appoint table tr td:nth-child(4) {
    text-align: end;
}

.status.active {
    padding: 2px 4px;
    background: #8de02c;
    color: #fff;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 500;
}

.status.declined {
    padding: 2px 4px;
    background: #f00;
    color: #fff;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 500;
}

.status.pending {
    padding: 2px 4px;
    background: #f9ca3f;
    color: #fff;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 500;
}

.status.completed {
    padding: 2px 4px;
    background: #969696;
    color: #fff;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 500;
}

.status.emergency {
    padding: 2px 4px;
    background: #c05a5a;
    color: #fff;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 500;
}

.status.upcoming {
    padding: 2px 4px;
    background: #1795ce;
    color: #fff;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 500;
}

.overview_messages table tr td {
    padding: 12px 10px;
}

.overview_messages table tr td h4 {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.2em;
}

.overview_messages table tr td h4 span {
    font-size: 14px;
    color: #222;
}

.overview_messages table tr:hover {
    background: #276ab3;
    color: #f5f5f5;
}

.overview_messages table tr:hover td h4 span {
    color: #f5f5f5;
}

/*==========================================================
    ---------------    Modals Styling   ---------------
==========================================================*/

.patient_modals {
    display: flex;
    width: 100%;
    gap: 6rem;
} 

.patient_modals-left {
    height: 30rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0px  5px 20px rgba(0, 0, 0, 0.3);
    animation: slideInLeft 1s ease-in-out;
}

.patient_modals-left .img_box {
    width: 10rem;
    height: 10rem;
}

.patient_modals-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height:  1.6;
    margin-bottom: 10px;
}

.patient_modals-modals {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0 3rem;
}

.patient_modals-modals button {
    width: 100%;
    height: 3rem;
    border-radius: 10px;
    margin-top: 1rem;
    cursor: pointer;
    padding: 15px;
    display: flex;
    align-items: center;
    border: none;
    cursor: pointer;
}

.patient_modals-modals button:hover {
    background: #e8ecf0;
    color: #276ab3;
}

.patient_modals-modals button.current {
    background: #e8ecf0;
    color: #276ab3;
}

.patient_modals-modals button span {
    margin-left: 1rem;
    font-size: .9rem;
}

.patient_modals-right {
    width: 100%;
    height: max-content;
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0px  5px 20px rgba(0, 0, 0, 0.3);
    animation: slideInRight 1s ease-in-out;
} 

.modal_container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2%;
    margin-bottom: 1rem;
}

.modal_container label {
    color: #222;
    position: relative;
    font-weight: 700;
    margin-bottom: .5rem;
}

.modal_container .modal_input {
    border: .1px solid rgba(0, 0, 0, 0.3);
    color: #222;
    width: 100%;
    padding: 15px;
    height: 38px;
    border-radius: 8px;
    font-size: 14px;
}

.modal_container .modal_input:focus {
    outline: 1px solid #276ab3;
}

.modal_container-btn button {
    border: none;
    outline: none;
    padding: 12px 0;
    background-color: #276ab3;
    border-radius: 8px;
    font-size: .9rem;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    font-weight: bold;
    cursor: pointer;
}

.modal_container-btn button:hover {
    opacity: 0.8;
}

/*==========================================================
    ---------------    Profile Styling   ---------------
==========================================================*/

.patient_profile .modal_img {
    border: 2px dashed rgba(0, 0, 0, 0.3);
    padding: 10px;
    text-align: center;
    cursor: pointer;
    border-radius: 8px;
    height: 25vh;
}

.patient_profile .info_container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin: 10px 0;
}

.patient_profile .info_container .personal_info {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

.patient_profile .info_container .personal_info i {
    background: #276ab3;
    border-radius: 5px;
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.patient_profile .info_container .personal_info div {
    margin-left: 1rem;
    letter-spacing: 1px;
    line-height: 1.5;
    font-weight: 500;
}

.patient_profile .info_container .personal_info div p {
    font-weight: 900;
}

/*==========================================================
    ---------------    Records Styling   ---------------
==========================================================*/

/* .patient_records .patient_modals-left {
    height: 30rem;
} */

/*==========================================================
    ---------------    Appointments Styling   ---------------
==========================================================*/



/*==========================================================
    ---------------    Prescriptions Styling   ---------------
==========================================================*/

.patient_prescriptions {
    animation: slideInDown 1s ease-in-out;
}

.patient_prescriptions-sides {
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
    margin-top: 2rem;
}

.patient_prescriptions-sides .prescribe_header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    color: rgba(43, 41, 41, 0.6);
    padding: 20px 30px;
}

.patient_prescriptions-sides .prescribe_header p {
    font-size: 18px;
    letter-spacing: .5px;
    color: rgba(43, 41, 41, 0.6);
}

.patient_prescriptions-sides .prescribe_table {
    padding: 0 30px;
}
.prescribe_table .prescribe_card {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
    letter-spacing: 1px;
    border-bottom: .1px solid #ddd;
}

.prescribe_table .prescribe_card:nth-child(1) {
    border-top: .1px solid #ddd;
}

.patient_prescriptions-sides .prescribe_table .prescribe_card:hover {
    cursor: pointer;
    background: #276ab3;
    color: #f5f5f5;
}

.patient_prescriptions-sides .prescribe_table .prescribe_card:hover p {
    color: #f5f5f5;
}

.prescribe_left,
.prescribe_bottom {
    position: relative;
    display: flex;
    flex-direction: column;
    background: #fff;
    padding: 0 0 20px;
    box-shadow: 0 7px 25px rgba(0,0,0,0.08);
    border-radius: 20px;
    overflow: hidden;
}

.prescribe_left {
    height: 80vh;
}

.prescribe_left .prescribe_table, 
.prescribe_bottom .prescribe_table {
    overflow-y: scroll;
}

.prescribe_left .prescribe_table::-webkit-scrollbar,
.prescribe_bottom .prescribe_table::-webkit-scrollbar {
    width: .5em;
}

.prescribe_left .prescribe_table::-webkit-scrollbar-thumb,
.prescribe_bottom .prescribe_table::-webkit-scrollbar-thumb {
    background: #276ab3;
    border-radius: 10px;
}

.patient_prescriptions-sides .prescribe_table .prescribe_card.active_card {
    background: #f0f8ff;
    border-top: 1px solid rgba(179, 173, 173, 0.2);
    border-right: 1px solid rgba(179, 173, 173, 0.2);
    border-bottom: none;
    border-left: 3px solid #276ab3;
    border-bottom-right-radius: 5px;
    box-shadow: rgb(240, 248, 255) 3px 3px 6px 0px inset;
}

.patient_prescriptions-sides .prescribe_table .prescribe_card.active_card:hover {
    background: #f0f8ff;
    color: #222;
}

.patient_prescriptions-sides .prescribe_table .prescribe_card.active_card:hover p {
    color: #276ab3;
}

.prescribe_specification {
    height: 60px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    font-size: 14px;
}

.prescribe_specification p {
    color: #276ab3; 
    font-weight: 900;
    text-shadow: .5px .5px 1px #276ab3;
}

.prescribe_right {
    position: relative;
    width: 100%;
    height: 80vh;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-gap: 30px;
}

.prescribe_right .prescribe_bottom .prescribe_table {
    opacity:  0.5;
}

.prescribe_right .prescribe_bottom .prescribe_table .prescribe_card:hover {
    cursor: default;
}

.prescribe_right .prescribe_top {
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(39, 106, 179, 0.50) 0px 2px 4px 0px, rgba(39, 106, 179, 0.50) 0px 2px 16px 0px;
    border-radius: 20px;
}

.prescribe_top img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.prescribe_modal {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 1rem;
    border-radius: 20px;
    /* backdrop-filter: blur(1px); */
    z-index: 1;
    background: rgba(25, 25, 25, 0.6);
    align-items: center;
    justify-content: center;
}

.prescribe_modal-title {
    font-size: 1.5rem;
    color: #fafafa;
    letter-spacing: 1px;
    font-weight: 900;
    margin-bottom: 1rem;
}

.prescribe_modal-list {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}
.prescribe_modal-item {
    display: flex;
    align-items: center;
    justify-content: center;
}

.prescribe_modal-icon {
    font-size: 1.5rem;
    font-weight: 900;
    color: #276ab3;
}

.prescribe_modal-info {
    color: #fafafa;
    font-size: 1rem;
    font-weight: 900;
}

.prescribe_guide {
    z-index: 1;
    font-weight: 900;
    color: #000000;
    letter-spacing: 1px;
}

/*==========================================================
    ---------------    Payment Styling   ---------------
==========================================================*/

.payment_payment {
    animation: slideInDown 1s ease-in-out;
}

/*==========================================================
    ---------------    Keyframes   ---------------
==========================================================*/

@keyframes slideInRight {
    0% {
      opacity: 0;
      transform: translateX(100%);
    }
    100% {
      opacity: 1;
      transform: translateX(0%);
    }
}

@keyframes slideInDown {
    0% {
      opacity: 0;
      transform: translateY(100%);
    }
    100% {
      opacity: 1;
      transform: translateY(0%);
    }
}

@keyframes slideInLeft {
    0% {
      opacity: 0;
      transform: translateX(-100%);
    }
    100% {
      opacity: 1;
      transform: translateX(0%);
    }
} 

/*==========================================================
    ---------------    Media Styling   ---------------
==========================================================*/

@media screen and (max-width: 1024px) and (max-width: 1300px) {

}

@media screen and (max-width: 884px) {
    .portal_navigation .toggle button {
        top: 0;
        left: 1rem;
    }

    .overview_sides {
        grid-template-columns: 1fr; 
    }

    .patient_modals {
        flex-direction: column;
    }

    .patient_prescriptions-sides {
        grid-template-columns: 1fr;
    }
}

@media screen and (max-width: 800px) {
    .overview_banner {
        flex-direction: column;
    }

    .banner_text {
        width: auto;
    }

    .banner_text p {
        display: none;
    }
}