.Navigate {
    background-color: #276ab3;
    display: block;
    height: 20px;
    margin-top: 60px;
}

nav ul.Open {
    display: flex;
    text-align-last: justify;
}

@media (max-width:700px) {
    nav ul.Open {
        display: flex;
        text-align-last: justify;
        background-color: #ededed;
    }    
}