.slide-in {
    opacity: 0; /* Start with opacity 0 */
    transform: translateX(-100%); /* Start outside the viewport */
    animation: slideInAnimation 2s ease-in forwards; /* Apply animation */
  }
  
  @keyframes slideInAnimation {
    from {
      opacity: 0; /* Start from opacity 0 */
      transform: translateX(-100%); /* Start outside the viewport */
    }
    to {
      opacity: 1; /* End at opacity 1 */
      transform: translateX(0); /* Slide in to the viewport */
    }
  }
  


  