*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    margin: 100px 40px;
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-auto-columns: minmax(100px, auto);
    
}

.items{
    background-color:#ededed;
    padding: 1rem;
}

.box{
    align-self: center;
    text-align: center;
    padding: 2.5em;
    border-radius: 10px;
    height: 100px;
}

.boxs{
    height: 300px;
    border-radius: 10px;
}

/* .items:nth-of-type(1){  
    grid-row: 1/3;
} */

.items:nth-of-type(5){
    grid-column: 1/4;
}

.items:nth-of-type(8){
    height: 200px;
}
.items:nth-of-type(6){
    height: 400px;
}

.items:nth-of-type(7){
    grid-column: 1/4;
    margin-top: -100px;
}