
footer .main .sub-dom{
    display: flex;
    justify-content: flex-end;
    gap: 3rem;
}

footer{
    MARGIN-TOP: 30PX;
    PADDING: 20PX;
    background-color: #276ab3;
}
.line{
    border-top: 2px solid white ;
}

@media (max-width:800px) {


    footer .main .sub-dom {
        gap: 1rem;
        letter-spacing: 0;
        display: block;
        margin-top: 20px;
    }

}

